{% for block in entry.artikel %}
	{% switch block.type %}
	{# Begin Tabel #}
	{% case 'blokTabel' %}
	<table class="hover stack article-info-table">
        <tbody>
        	{% for row in block.artikelTabel %}
          <tr>
            <td width="20%"><strong>{{ row.omschrijving }}</strong></td>
            <td>{{ row.inhoud }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {# Einde Tabel #}

    {# Begin Paragraaf #}
	{% case 'blokParagraaf' %}
	<div class="article-body-text">
	{{ block.artikelParagraaf }}
	</div>
	{# Einde Paragraaf #}

	{# Begin Lijsten #}
	{% case 'blokLijst' %}
	<div class="article-list">
		<ul>
			{% for item in block.artikelLijst %}
			<li>{{ item.inhoud }}</li>
			{% endfor %}
		</ul>
	</div>
	{# Einde lijsten#}

	{# Begin Callout #}
	{% case 'blokCallout' %}
	<div class="callout large article-callout">
	  <h5>{{ block.artikelCalloutTitel }}</h5>
	  {{ block.calloutBodyTekst }}
	</div>
	{# Einde Callout #}

	{# Begin Quote #}
	{% case 'blokQuote' %}
	<blockquote class="article-quote">
	  {{ block.artikelQuote }}
	  <cite>{{ block.auteur }}</cite>
	</blockquote>
	{# Einde Quote #}

	{# Begin Afbeelding #}
	{% case 'blokAfbeelding' %}
	    {% set asset = block.artikelAfbeelding.first() %}
    	{% if block.Positie == 'right' %}
    		<img class="article-image-right" src="{{ asset.url }}" alt="{{ asset.title }}">
    	{% else %}
    		<img class="article-image-left" src="{{ asset.url }}" alt="{{ asset.title }}">
    	{% endif %}
	{# Einde Afbeelding #}

	{# Begin Full width Afbeelding #}
	{% case 'blokafbeeldingVolleBreedte' %}
	<div class="article-full-image">
		{% if block.artikelFwAfbeelding %}
	    {% set asset = block.artikelFwAfbeelding.first() %}
			<img src="{{ asset.url }}" alt="{{ asset.title }}">
		{% endif %}
	</div>

	{# Begin Gallerij #}
	{% case 'blokGallerij' %}
	<div class="article-gallery">
		<div class="row small-up-1 medium-up-2 large-up-4">
			{% if block.artikelGallerij %}
			{# We wijzen een id toe aan gallerij_id om een unieke identifier te hebben om verschillende gallerijen te onderscheiden #}
			{% set gallerij_id = loop.index %}
		    	{% for image in block.artikelGallerij %}
				  <div class="column">
				  	<a class="swipebox" href="{{ image.getUrl('artikelGallerij') }}" rel="{{ gallerij_id }}">
				    	<img src="{{ image.getUrl('artikelGallerij') }}" class="thumbnail" alt="{{ image.title }}">
				    </a>
				  </div>
				{% endfor %}  
			{% endif %}
		</div>
	</div>

	{# Begin Custom Title #}
	{% case 'blokTitel' %}
	<h4 class="article-h4-title">{{ block.artikelTitel }}</h4>

	{# 
	<table class="hover stack article-info-table">
		<tbody>
          <tr>
            <td width="25%"><strong>Betrokken onderzoeker:</strong></td>
            <td>Karel Schoonvaere</td>
          </tr>
          <tr>
            <td><strong>Belangrijkste realisaties:</strong></td>
            <td>(Hier volgt een omschrijving van de belangrijkste realisaties van het project/mandaat. Dit gaat echter wel meestal bij afgelopen projecten/mandaten kunnen ingevuld worden.)</td>
          </tr>
          <tr>
            <td><strong>Output:</strong></td>
            <td>
            	<ul class="fa-ul">
            		<li><i class="fa-li fa fa-caret-right"></i><a href="#">Link naar eerste output</a></li>
            		<li><i class="fa-li fa fa-caret-right"></i><a href="#">Een andere link naar ergens anders</a></li>
            	</ul>
            </td>
          </tr>
        </tbody>
    </table>
    #}

	{% endswitch %}
{% endfor %}